ascii-art {
    font-family: monospace;
    white-space: pre;
    display: flex;
    align-items: center;
    font-size: 1vw;
    line-height: 1.2;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    min-height: 50vh;
    overflow-x: auto;
    animation: rainbow 10s linear infinite !important;
}

body {
  font-family: 'Courier New', monospace;
  background-color: #0c0c0c;
  color: #00bfff;
  margin: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 3vh;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 22px;
  max-width: 800px;
  margin: 20px auto;
}

a {
  color: #00bfff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffffff;
}



.back-link {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.back-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00bfff;
    color: #0c0c0c;
    border: 2px solid #00bfff;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.back-link a:hover {
    background-color: transparent;
    color: #00bfff;
}

.plain-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plain-list li {
    padding: 10px 0;
}

.plain-list a {
    text-decoration: none;
    color: #00bfff;
    transition: color 0.3s ease;
}

.plain-list a:hover {
    color: #ffffff;
}

@keyframes rainbow {
    0% { color: #ff0000; }
    14% { color: #ff7f00; }
    28% { color: #ffff00; }
    42% { color: #00ff00; }
    57% { color: #0000ff; }
    71% { color: #8b00ff; }
    85% { color: #ff00ff; }
    100% { color: #ff0000; }
}

@media (max-width: 768px) {
    .back-link {
        margin-top: 20px;
    }

    .back-link a {
        padding: 12px 24px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
  body {
      padding: 10px;
      font-size: 16px;
  }
  h1 {
      font-size: 36px;
  }
  h2 {
      font-size: 20px;
  }
  p {
      font-size: 18px;
  }
  .ascii-art {
      font-size: 2vw;
  }
}

@media (max-width: 480px) {
  body {
      font-size: 14px;
  }
  h1 {
      font-size: 28px;
  }
  h2 {
      font-size: 18px;
  }
  p {
      font-size: 16px;
  }
  .ascii-art {
      font-size: 3vw;
  }
}
